<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>comment</th>
        <th>post</th>

        <th>Delete</th>
        <th>Update</th>
    </tr>


    <tr {% for pc in postcomment %}>
        <td>{{ pc.id }}</td>
        <td>{{ pc.comment }}</td>
        <td>{{ pc.post.id }}</td>
        <td><a href="{{ path('kc',{'id':pc.id}) }}">Delete</a></td>
        <td><a href="{{ path('updatepostcomment',{'id':pc.id}) }}">Update</a></td>
    </tr  {% endfor %}>


</table>
</body>
</html>