{% extends 'baseClient.html.twig' %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">



    {% block stylesheets %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



        <!-- Template Main CSS File -->

        <!-- Vendor CSS Files -->
        <link href="{{ asset('client/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('client/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('client/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('client/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('client/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('client/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">


        <link href="{{ asset('client/css/style.css') }}" rel="stylesheet">

    {% endblock %}
{% endblock %}


{% block content2 %}

    <div class="popular_destination__slider" id="popular_destination__slider">

        {% for  c in chambre %}
            <div class="slide_item">
                <a href="single.html" class="slide_item_img">
                    <div class="sq_parent">
                        <div class="sq_wrap">
                            <div class="sq_content" style="background-image: url({{ asset('client/img/' ~ c.prix ~ '.jpg')}})"></div>
                        </div>
                    </div>
                </a>
                <a href="single.html" class="slide_item_content">
                    <div class="flag">
                        <img src="{{ asset('client/img/tunis.png')}}" alt="">
                    </div>
                    <h3 class="slide_title">

                        {{ c.hotel.nom}}
                    </h3>
                    <p class="slide_text">
                        Prix {{ c.prix }} DT    </p>
                    <p class="slide_text">
                        Etage {{ c.etage }}
                    </p>
                    <p class="slide_text">
                        Nombre de Lit : {{ c.nlits }}
                    </p>
                    <p class="slide_text">
                        <img src="{{ asset('client/qr/qrcode'~ c.hotel.id ~'-'~c.numero~'.png') }}">
                    </p>
                </a>
                <div class="slide_footer" {% if c.rate == 0 %} style="
    background-color: white;
"
                {% else %}
                    style="
    background-color: lightgrey;
"
                {% endif %}

                >

                    <div class="hours">Rate :
                        <div class="slider_item__content">
                            <div class="rating">
                                <div class="stars">
                                    {% if  c.rate == 5  %}
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>

                                    {% elseif c.rate == 4 %}
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star "></div>
                                    {% elseif c.rate == 3 %}
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star "></div>
                                        <div class="star "></div>
                                    {% elseif c.rate == 2 %}
                                        <div class="star active"></div>
                                        <div class="star active"></div>
                                        <div class="star "></div>
                                        <div class="star "></div>
                                        <div class="star "></div>
                                    {% elseif c.rate == 1%}
                                        <div class="star active"></div>
                                        <div class="star "></div>
                                        <div class="star "></div>
                                        <div class="star "></div>
                                        <div class="star "></div>

                                    {% else %}

                                        <table style="border-collapse: collapse;border-spacing: 0;width: 275px; margin: 0 auto; font-size: 50px; direction: rtl;" dir="rtl">
                                            <tbody><tr>
                                                <td style="padding: 0;vertical-align: top;" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                    <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                        <a href="{{ path('rate',{'id':c.id,'rate':5}) }}" class="star"  style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" >
                                                            <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                            <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                    <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                        <a href="{{ path('rate',{'id':c.id,'rate':4}) }}" class="star"  style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" >
                                                            <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                            <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                    <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                        <a href="{{ path('rate',{'id':c.id,'rate':3}) }}" class="star"  style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" >
                                                            <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                            <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                    <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                        <a href="{{ path('rate',{'id':c.id,'rate':2}) }}"  style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" >
                                                            <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                            <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                    <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                        <a href="{{ path('rate',{'id':c.id,'rate':1}) }}" class="star"  style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" >
                                                            <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                            <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody></table>





                                    {% endif %}

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="tours_link">
                        <a href="tour-list.html">Numero : {{ c.numero }}</a>

                    </div>
                </div>
            </div>


        {% endfor %}

    </div>



{% endblock %}
{% block javascripts %}




{% endblock %}